<div class="container">
    <h1>{{post.title}}</h1>

    <div class="">
        <img style="width:1000px;height:auto;" src="{{post.img}}" alt="{{post.title}}">
    </div>

    <div>{{post.text}}</div>
</div>