<div class="main blue lighten-5" style="padding:5% 5% 5% 5%; border-radius:20px;">

    <div class="profile-block">
        <div class="blue lighten-4 profile-privetstvie">
            <span id="profile-privetstvie">Привет, User!</span>
            <span class="podtext">ЧЕМ ЗАЙМЕМСЯ СЕГОДНЯ?</span>
        </div>
        <div class="buttons-block">
            <button class="btn-large pink lighten-1 profile-button" style="border-radius:50px">Продолжить пост</button>
            <button class="btn-large pink lighten-1 profile-button" style="border-radius:50px">Ваши посты</button>
        </div>
        <div class="blue lighten-4 smena-parol">
            <div id="smena-parol">Смена пароля:</div>
            <div id="smena-parol-input">
                <input type="text" class="smena-parol-input">
                <input type="text" class="smena-parol-input">
            </div>
            <button class="btn-small blue lighten-1 smena-parol-button" style="border-radius:50px">Сменить
                пароль</button>
        </div>
    </div>
    <div class="blue lighten-4 opisanie-profile">
        <img src="/img/image 4.png" alt="profile-icon" class="opisanie-profile-icon">
        <div class="opisanie-data-block">
            <div class="opisanie-data">
                <div class="opisanie-text">ФИО:</div>
                <div class="opisanie-text">Вавилов Андрей Сергеевич:</div>
            </div>
            <div class="opisanie-data">
                <div class="opisanie-text">Телефон:</div>
                <div class="opisanie-text">+7 123*****90</div>
            </div>
            <div class="opisanie-data">
                <div class="opisanie-text">Почта:</div>
                <div class="opisanie-text">profile@mail.ru</div>
            </div>
            <div class="opisanie-data">
                <div class="opisanie-text">Дата рождения:</div>
                <div class="opisanie-text">01.01.2003</div>
            </div>
        </div>
    </div>

</div>